[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/PollenJain
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/PollenJain
	label-Verified = -1..+1 group user/PollenJain
	push = group user/PollenJain
	read = group user/PollenJain
	rebase = group user/PollenJain
	removeReviewer = group user/PollenJain
	submit = group user/PollenJain
[access "refs/heads/*"]
	create = group user/PollenJain
	push = +force group user/PollenJain
	pushMerge = group user/PollenJain
	read = group user/PollenJain
[access "refs/tags/*"]
	push = group user/PollenJain
	push = +force group user/PollenJain
